include hotdoc/lexer_parsers/doxygen_parser/doxenizer.h
include hotdoc/lexer_parsers/doxygen_parser/doxparser.h
include hotdoc/lexer_parsers/doxygen_parser/doxenizer.l
include hotdoc/lexer_parsers/c_comment_scanner/scanner.l
include hotdoc/lexer_parsers/c_comment_scanner/scanner.h
include hotdoc/formatters/html/templates/*
include hotdoc/extensions/templates/*
recursive-include hotdoc/default_theme *
