## The following requirements were added by pip freeze:
appdirs==1.4.4
backports.entry-points-selectable==1.3.0
dbus-deviation==0.6.1
faust-cchardet==2.1.19
-e git+ssh://git@github.com/hotdoc/hotdoc.git@adf8518431fafb78c9b47862a0a9a58824b6a421#egg=hotdoc
lxml==5.4.0
networkx==3.5
pkgconfig==1.5.5
PyYAML==6.0.2
schema==0.7.7
setuptools==80.9.0
toposort==1.10
wheezy.template==3.2.3
