@require(prototype, callable, return_value, return_annotations, parameters, callable_type, flags)
<div class="refsect2">
	<a name=@callable.link.id_></a>
	<h3 class="method">
		<span class="entry" id=@callable.link.id_>The <code>“@callable.link.title”</code> @callable_type</span>
	</h3>
	@prototype
	@callable.formatted_doc
	@if parameters:
		<div class="refsect3">
			<h4>Parameters</h4>
			<div class="informaltable">
				<table width="100%" border="0">
					<colgroup>
						<col class="parameters_name" width="150px" />
						<col class="parameters_description" />
						<col class="parameters_annotations" width="200px"/>
					</colgroup>
					<tbody>
						@for parameter in parameters:
							@parameter
						@end
					</tbody>
				</table>
			</div>
		</div>
	@end

	@if return_value and return_value.formatted_doc:
		<div class="refsect3">
			<h4>Returns</h4>
			@return_value.formatted_doc
		</div>
		@if return_annotations:
		<p>
			@for annotation in return_annotations:
				<span class="annotation">[\
				<acronym title="@annotation.help_text">\
				<span class="acronym">@annotation.nick</span>\
				</acronym>\
				@if annotation.value:
				@annotation.value\
				@end
				]\
				</span>
			@end
		</p>
		@end
	@end

	@if flags:
	<p>Flags:\
	@for i, flag in enumerate (flags):

	@if i != 0:
	/\
	@end

	@if flag.link:
	<a href="@flag.link">@flag.nick</a>
	@else:
	@flag.nick
	@end
	@end
	@end

	@for tag in callable.tags:
	<p>
	@tag.name\
	@if tag.description:
       	: @tag.description
	</p>
	@end
</div>
