@require(prototype, callable, return_value, parameters, callable_type)
<div class="refsect2">
	<a name=@callable.link.id_></a>
	<h3 class="method">
		<span class="entry" id=@callable.link.id_>The <code>“@callable.link.title”</code> @callable_type</span>
	</h3>
	@prototype
	@callable.formatted_doc
	@if parameters:
		<div class="refsect3">
			<h4>Parameters</h4>
			<div class="informaltable">
				<table width="100%" border="0">
					<colgroup>
						<col class="parameters_name" width="150px" />
						<col class="parameters_description" />
						<col class="parameters_annotations" width="200px"/>
					</colgroup>
					<tbody>
						@for parameter in parameters:
							@parameter
						@end
					</tbody>
				</table>
			</div>
		</div>
	@end

	@if return_value:
		<div class="refsect3">
			<h4>Returns</h4>
			@return_value.formatted_doc
		</div>
	@end
</p>
</div>
