@require(klass, toc_sections, symbols_details)
@extends('page.html')

@def content():

<table class="navigation" id="top" summary="Navigation header" width="100%" cellpadding="2" cellspacing="5">
	<tbody>
	<tr valign="middle">
		<td class="shortcuts" align="left" width=100%>
			<a class="shortcut" href="#">Top</a>

			@for toc_section in toc_sections:
				<span id="nav_@toc_section.name">
					<span class="dim">|</span>
					<a href="#@toc_section.id_">@toc_section.name</a>
				</span>
			@end
		</td>
	</tr>
	</tbody>
</table>

<a name="@klass.link.pagename"></a>
<h1 class="class">@klass.link.title</h1>
<p>@klass.get_short_description()</p>

<div class="refentry">
	@for toc_section in toc_sections:
		<a name=@toc_section.id_></a>
		@toc_section.summary
	@end
</div>

@if klass.formatted_doc:
<h2>Instance description</h2>
@klass.formatted_doc
@end

@for symbols_detail in symbols_details:
<a name=@symbols_detail.name></a>
@for description in symbols_detail.descriptions:
@description
@end
@end
