@require(name, symbol_type, linkname, prototype, doc, param_docs)
<div class="refsect2">
	<a name=@linkname></a>
	<h3 class="method">
		<span class="entry" id=@linkname>The <code>“@name”</code> @symbol_type</span>
	</h3>
	@prototype
	@doc
	@if param_docs:
		<div class="refsect3">
			<h4>Parameters</h4>
			<div class="informaltable">
				<table width="100%" border="0">
					<colgroup>
						<col class="parameters_name" width="150px" />
						<col class="parameters_description" />
					</colgroup>
					<tbody>
						@for param_doc in param_docs:
							@param_doc
						@end
					</tbody>
				</table>
			</div>
		</div>
	@end
</div>
